<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.apln.pdc8"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk        
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <!-- Permission pour acceder a internet -->
	<uses-permission android:name = "android.permission.INTERNET" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
		<activity android:name=".MainActivity"
             		android:label="@string/app_name">
   			<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
      		</intent-filter>
       	</activity>
        
		
		<activity android:name=".AccueilActivity"
             		android:label="@string/accueil">
   			<intent-filter>
        		
      		</intent-filter>
       	</activity>
       	
		<activity 	android:name=".OptionsActivity"
             		android:label="@string/options">
   			<intent-filter>
        		
      		</intent-filter>
       	</activity>
       	
		<activity 	android:name=".JeuActivity"
             		android:label="@string/jeu">
   			<intent-filter>
        		
      		</intent-filter>
       	</activity>
       	
		<activity android:name=".ClassementActivity"
             		android:label="@string/resultats">
   			<intent-filter>
        		
      		</intent-filter>
       	</activity>
       	
		<activity android:name=".ReglesActivity"
             		android:label="@string/regles">
   			<intent-filter>
        		
      		</intent-filter>
       	</activity>
       	
		<activity android:name=".AProposActivity"
             		android:label="@string/apropos">
   			<intent-filter>
        		
      		</intent-filter>
       	</activity>
       	
    </application>
</manifest>
